name: test_on_push

on: [push]

jobs:
  set-up-env:
    runs-on: [ubuntu-latest]
    steps:
      - uses: actions/checkout@master
      - uses: actions/setup-python@v1
        with:
          python-version: '3.9'
          architecture: 'x64'
      - run: pip install poetry
      - run: pip install flake8
      - run: cd InnotterDjango && poetry install 
      - run: cd InnotterDjango && poetry run pytest
      - run: flake8 .
