name: CI/CD-Pipeline

on: [push]

jobs:
  test:
    runs-on: [ubuntu-latest]

    steps:
      - name: clone github repository
        uses: actions/checkout@master

      - name: install python3.9
        uses: actions/setup-python@v1
        with:
          python-version: '3.9'
          architecture: 'x64'

      - name: install poetry
        run: pip install poetry

      - name: install all project dependencies
        run: cd InnotterDjango && poetry install

      - name: run all tests for innotter-core-app
        run: cd InnotterDjango && poetry run pytest --cov=.

      #- name: run linter for innotter-core-app
      #- run: cd InnotterDjango && poetry run flake8 .


  build:
    runs-on: [ubuntu-latest]

    needs: [test]

    env:
     LOGIN: ${{ secrets.DOCKER_LOGIN }}
     NAME: ${{ secrets.DOCKER_NAME }}

    steps:
      - name: login in hub.docker.com
        run: echo ${{ secrets.DOCKER_PWD }} | docker login -u $LOGIN --password-stdin

      - name: clone github repository
        uses: actions/checkout@master

      - name: build docker image of innotter-core-app
        run: cd InnotterDjango && docker build -t $LOGIN/$NAME -f Dockerfile .

      - name: push docker image to hub.docker.com
        run: docker push $LOGIN/$NAME


  deploy:
    runs-on: [ubuntu-latest]

    needs: [build]

    env:
      LOGIN: ${{ secrets.DOCKER_LOGIN }}
      NAME: ${{ secrets.DOCKER_NAME }}

    steps:
      - name: login in hub.docker.com
        run: echo ${{ secrets.DOCKER_PWD }} | docker login -u $LOGIN --password-stdin

      - name: clone github repository
        uses: actions/checkout@master

      - name: make envfile
        uses: SpicyPizza/create-envfile@v1.3
        with:
          envkey_SECRET_KEY: ${{ secrets.SECRET_KEY }}
          envkey_DEBUG: ${{ secrets.DEBUG }}
          envkey_ALLOWED_HOSTS: ${{ secrets.ALLOWED_HOSTS }}
          envkey_POSTGRES_ENGINE: ${{ secrets.POSTGRES_ENGINE }}
          envkey_POSTGRES_DB: ${{ secrets.POSTGRES_DB }}
          envkey_POSTGRES_HOST: ${{ secrets.POSTGRES_HOST }}
          envkey_POSTGRES_PORT: ${{ secrets.POSTGRES_PORT }}
          envkey_POSTGRES_USER: ${{ secrets.POSTGRES_USER }}
          envkey_POSTGRES_PASSWORD: ${{ secrets.POSTGRES_PASSWORD }}
          envkey_CONN_MAX_AGE: ${{ secrets.CONN_MAX_AGE }}
          envkey_DJANGO_SUPERUSER_USERNAME: ${{ secrets.DJANGO_SUPERUSER_USERNAME }}
          envkey_DJANGO_SUPERUSER_PASSWORD: ${{ secrets.DJANGO_SUPERUSER_PASSWORD }}
          envkey_DJANGO_SUPERUSER_EMAIL: ${{ secrets.DJANGO_SUPERUSER_EMAIL }}
          envkey_DJANGO_SUPERUSER_ROLE: ${{ secrets.DJANGO_SUPERUSER_ROLE }}
          directory: ./InnotterDjango/
          file_name: .env

      - name: pull docker image from hub.docker.com
        run: docker pull $LOGIN/$NAME

      - name: ls
        run: ls -a

      - name: ls InnotterDjango
        run: cd InnotterDjango && ls -a

      - name: run innotter-core-app
        run: docker-compose up
